#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

ifneq ($(DEB_BUILD_GNU_TYPE),$(DEB_HOST_GNU_TYPE))
export DEB_BUILD_PROFILES := cross
CONFIGURE_OPTS += CONFIG+=no_docs
endif

override_dh_auto_configure:
	dh_auto_configure \
		-- LIBDIR=/usr/lib/$(DEB_HOST_MULTIARCH) \
		"QMAKE_CXXFLAGS=$(CFLAGS)" \
	        CONFIG+=ubuntu-docs \
			$(CONFIGURE_OPTS) \
		accounts-qml-module.pro

override_dh_install:
	rm -rf debian/*/usr/bin
	rm -f debian/*/usr/share/accounts-qml-module/doc/html/.gitignore
	dh_install --fail-missing

%:
	dh $@
